APP_NAME=shop-java-springboot-maven-jdbc-postgresql
APP_DOMAIN=shop
APP_PORT=8000
DB_ENGINE=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_NAME=pb_shop
DB_USER=project_bible
DB_PASSWORD=project_bible
DB_DRIVER=org.postgresql.Driver
DB_URL=jdbc:postgresql://localhost:5432/pb_shop
JWT_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
