APP_NAME=post-typescript-nestjs-npm-typeorm-mysql
APP_DOMAIN=post
APP_PORT=8000
DB_ENGINE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=pb_post
DB_USER=project_bible
DB_PASSWORD=project_bible
JWT_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
