APP_NAME=shop-java-springboot-maven-mysql
APP_DOMAIN=shop
APP_PORT=8000
DB_ENGINE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=pb_shop
DB_USER=project_bible
DB_PASSWORD=project_bible
DB_DRIVER=com.mysql.cj.jdbc.Driver
DB_URL=jdbc:mysql://localhost:3306/pb_shop
JWT_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
