APP_NAME=post-java-springboot-maven-mysql
APP_DOMAIN=post
APP_PORT=8000
DB_ENGINE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=pb_post
DB_USER=admin
DB_PASSWORD=1234
DB_DRIVER=com.mysql.cj.jdbc.Driver
DB_URL=jdbc:mysql://localhost:3306/pb_post
JWT_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
