APP_NAME=post-typescript-nestjs-npm-postgresql
APP_DOMAIN=post
APP_PORT=8000
DB_ENGINE=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_NAME=pb_post
DB_USER=admin
DB_PASSWORD=1234
JWT_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
